language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"
  - "nightly"
  - "pypy3" # I have no idea if this will work
install: "pip install -r requirements.txt"
script: python3 tests.py
