<html>
  <head>
    <title>Seriously Language IDE</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
    <script>
        function utf8_to_b64(str) {
            return window.btoa(unescape(encodeURIComponent(str)));
        }

        function b64_to_utf8(str) {
            return decodeURIComponent(escape(window.atob(str)));
        }
    </script>
  </head>
  <body>
    <script>
    $(document).ready(function() {
      var s = window.JSON.parse(b64_to_utf8(decodeURIComponent("{{ link }}")));
      var sCode = s.code;
      var sInput = s.input;
      var url = "http://" + window.location.hostname + "/";
      $.redirect(url, {code: sCode, input: sInput});
    });
    </script>
  </body>
</html>