<html>
  <head>
    <title>Seriously Language IDE</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link href="{{ url_for('static', filename='logo.ico') }}" rel="shortcut icon">
    <script type="text/javascript" src="https://konami-js.googlecode.com/svn/trunk/konami.js"></script>
    <script type="text/javascript">
        var easter_egg = new Konami();
        easter_egg.load('http://o-lang.herokuapp.com/');
    </script>
  </head>
  <body>
  <div class="container">
  <div class="row">
  <div class="col-xs-6">
    <h1>Seriously Online IDE</h1>
    <p>This is an IDE for the <a href="https://seriously.readthedocs.org/">Seriously programming language</a>. 
    Seriously and this site were made by <a href="https://github.com/Mego">Mego</a>!</p>
    <br/>
    <p id="byteCount">0 bytes and 0 chars long.</p>
    <form id="srs" action="" method="post">
      <fieldset>
        <input type="submit" value="Run!">
       </fieldset>
    </form>
    <div id="hexwarn"></div>
    <p>Hex Dump</p>
    <textarea rows="4" cols="50" name="hexdump" id="hexdump" form="srs"></textarea>
    <p>Code</p>
    <textarea rows="4" cols="50" name="code" id="code" form="srs">{{ code }}</textarea>
    <p>Input (each line is a different input)</p>
    <textarea rows="4" cols="50" name="input" id="input" form="srs">{{ input }}</textarea>
    <br/>
    {% block body %}{% endblock %}
    <input id="permalink" type="submit" value="Permalink"/>
  </div>
  <div class="col-xs-6">
    <h3>Utilities</h3>
    <p>These are some utilities that can be used when coding in Seriously.</p>
    <br/>
    <button id="util.genchar" onclick="genChar()">Generate CP437</button>
    <br/>
    <h4>General Explanation <small>(not always correct)</small>:</h4>
    <div class="container" style="margin-top: 5%;margin-right: 5%;">
      <pre id="explanation"></pre>
    </div>
  </div>
  </div>
  </div>
  <script src="{{ url_for('static', filename='explanations.js') }}"></script>
  <script src="{{ url_for('static', filename='seriously.js') }}"></script>
  </body>
</html>
